*.o
.deps
Makefile
Makefile.in
.project
.cproject
.settings
*~
*.sig
*.tar.gz

/compile
/test
/install-sh
/configure
/config.sub
/config.status
/config.log
/config.h.in
/depcomp
/stamp-h1
/src/proxsmtpd
/missing
/config.h
/config.guess
/autom4te.cache
/aclocal.m4
/0*-*.patch

/doc/*.html
